<h2 class="is-size-2 has-text-centered">Pipets Index</h2>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Pipet ID</th>
        <th>Calibration Due</th>
        <th>Min Volume (μL)</th>
        <th>Max Volume (μL)</th>
        <th>Last Calibration Date</th>
        <th colspan="3"></th>
      </tr>
      <% @pipets.each do |pipet| %>
        <tr>
          <th><%= pipet.id %></th>
          <th><%= pipet.calibration_due.strftime('%Y-%m-%d') %></th>
          <th><%= pipet.min_volume %></th>
          <th>
            <% if pipet.max_volume == pipet.min_volume %>
              Fixed Vol.
            <% else %>
              <%= pipet.max_volume %>
            <% end %>
          </th>
          <th><%= pipet.calibration_date.strftime('%Y-%m-%d') %></th>
          <th>
            <%= 
              button_to "Edit", edit_pipet_path(pipet), 
              method: :get,
              class: 'button is-info is-small' 
            %>
          </th>
          <th>
            <%= 
              button_to "Delete", pipet_path(pipet), 
              method: :delete, 
              data: { confirm: 'Are you sure?' },
              class: 'button is-danger is-small'
            %>
          </th>
        </tr>
      <% end %>
    </table>
    <%= 
      button_to "New Pipet", new_pipet_path, 
      method: :get, class: 'button is-primary' 
    %>
  </div>
</div>