<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= form_for @project do |project| %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
          </h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="control">
          <%= project.label :description, class: 'label' %>
          <%= project.text_field :description, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= project.label :lot, class: 'label' %>
          <%= project.text_field :lot, class: 'input' %>
        </div>
      </div>

      <%= project.fields_for :samples, nil, {remote: true} do |sample| %>
          <%= render 'sample_fields', :f => sample %>
      <% end %>


      <div class="field">
        <div class="control">
          <%= button_to_add_field('Add Additional Sample', project, :samples) %>
          <%= project.submit "Submit", class: 'button is-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>