<%= form_for @project do |project| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
      </h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= project.label :description, class: '' %>
    <%= project.text_field :description, class: '' %>
  </div>

  <div class="form-group">
    <%= project.label :lot, class: '' %>
    <%= project.text_field :lot, class: '' %>
  </div>

  <div class="fields">
    <%= project.fields_for :tests, nil, {remote: true, class: 'form-inline'} do |test| %>
      <%= render 'test_fields', :f => test %>
    <% end %>
  </div>  
        
  <div class="form-group">
    <%= link_to_add_test('Add Test', project, :tests, class: '') %>
  </div>
        
  <div class="form-group">
    <%= project.hidden_field :user_id, value: current_user.id %>
    <%= project.submit "Submit", class: 'btn btn-primary' %>
  </div>   
<% end %>