<h2 class='is-size-2 has-text-centered'>All Projects</h2>
<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="section has-text-centered">
      <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
          <th>Project ID</th>
          <th>Description</th>
          <th>Customer</th>
          <th>Samples</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <th><%= project.id %></th>
              <th><%= project.description %></th>
              <th><%= project.user.first_name %> <%= project.user.last_name %></th>
              <th><%= project.samples.count %></th>
              <th><%= project.status %></th>
              <th><%= link_to "View", project_path(project)  %></th>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="field is-grouped">
        <div class="control">
          <%= button_to "New Project", new_project_path, method: :get, class: 'button is-info' %>
        </div>
      </div>

    </div>
  </div>
</div>