<div class="columns">
  <div class="column has-text-centered">
    <h3 class='is-size-3 has-text-centered'>Description: <%= @project.description %></h3>
    <h4 class='is-size-4 has-text-centered'>Lot: <%= @project.lot %></h4>
    <h4 class='is-size-4 has-text-centered'>Customer: <%= @project.user.first_name %> <%= @project.user.last_name %></h4>
    <h4 class='is-size-4 has-text-centered'>Company: <%= @project.user.company %></h4>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <% if current_user.admin? || current_user.analyst? %>
      <div class="section has-text-centered">
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Project ID</th>
              <th>Status</th>
              <th>Batched</th>
              <th>Invoiced?</th>
              <th>Paid?</th>
            </tr>
          </thead>
          <tbody>
            <td><%= @project.id %></td>
            <td><%= @project.status %></td>
            <td><%= @project.batched? %></td>
            <td><%= @project.invoiced %></td>
            <td><%= @project.paid? %></td>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="section has-text-centered">
      <table class="table is-striped is-fullwidth">
        <thead>  
          <tr>
            <th>Sample ID</th>
            <th>Description</th>
            <th>Tests</th>
          </tr>
        </thead>
        <tbody>
          <% @project.samples.each do |sample| %>
            <tr>
              <td><%= sample.id %></td>
              <td><%= sample.description %></td>
              <td><%= sample.tests.count %></td>
              <%# TODO: Add Test Methods %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="field is-grouped">
        <div class="control">
          <%= button_to "Back", projects_path, method: :get, class: 'button is-primary' %>
        </div>
        <div class="control">
          <%= button_to "Edit Test", edit_project_path(@project), method: :get, class: 'button is-info' %>
        </div>
        <div class="control">
          <%= button_to "Delete Project", @project, method: :delete, data: { confirm: "Are you sure?" }, class: 'button is-danger' %>  
        </div>
      </div>
    </div>
  </div>
</div>