<div class="columns">
  <div class="column is-4 is-offset-4">
    <%= form_for @test_method do |f| %>
      <div class="field">
        <div class="control">
          <%= f.label :name, "Method Name", class: 'label' %>
          <%= f.text_field :name, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :target_organism, class: 'label' %>
          <div class="select">
            <%= f.select :target_organism, @target_organisms %>
          </div>
        </div>
      </div>

      <div class="field">
      <div class="control">
          <%= f.label :reference_method, class: 'label' %>
          <div class="select">
            <%= f.select :reference_method, @reference_methods %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :turn_around_time, "Turn Around Time (Days)", class: 'label' %>
          <%= f.number_field :turn_around_time, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :detection_limit, class: 'label' %>
          <%= f.number_field :detection_limit, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :unit, class: 'label' %>
          <div class="select">
            <%= f.select :unit, @units %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Submit", class: 'button is-primary' %>
          <%= f.submit "Cancel", class: 'button is-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>