<%= form_for @test_method do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :target_organism %>
  <%= f.select :target_organism, @target_organisms, class: 'form-control' %>

  <%= f.label :reference_method %>
  <%= f.select :reference_method, @reference_methods, class: 'form-control' %>

  <%= f.label :turn_around_time %> (Days)
  <%= f.number_field :turn_around_time, class: 'form-control' %>

  <%= f.label :detection_limit %>
  <%= f.number_field :detection_limit, class: 'form-control' %>

  <%= f.label :unit %>
  <%= f.select :unit, @units, class: 'form-control' %>

  <div class="form-buttons">
    <%= f.submit "Submit", class: 'btn btn-primary form-button' %>
    <%= f.submit "Cancel", class: 'btn btn-danger form-button' %>
  </div>
<% end %>