<h2 class='is-size-2 has-text-centered'>Test Methods</h2>

<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <table class="table table-striped is-fullwidth">
      <tr>
        <th>Name</th>
        <th>Organism</th>
        <th>Method</th>
        <th></th>
      </tr>
      <% @test_methods.each do |method| %>
        <tr>
          <td><%= method.name %></td>
          <td><%= method.target_organism %></td>
          <td><%= method.reference_method %></td>
          <td>
            <%= link_to "View", test_method_path(method.id) %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= button_to "New Test Method", new_test_method_path, method: :get, class: 'button is-info' %>

  </div>
</div>