<div class="page-header">
  <h2>Test Methods</h2>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Organism</th>
    <th>Method</th>
    <th>Detection Limit</th>
    <th></th>
  </tr>
  <% @test_methods.each do |method| %>
    <tr>
      <td><%= method.name %></td>
      <td><%= method.target_organism %></td>
      <td><%= method.reference_method %></td>
      <td><%= method.detection_limit %> <%= method.unit %></td>
      <td>
        <%= link_to "Edit", edit_test_method_path(method.id) %> | 
        <%= link_to "Delete", test_method_path(method.id), method: :delete, data: { confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</table>
</div>

<div class="row">
  <div class="col-md-2">
    <%= button_to "Add New Method", new_test_method_path, class: 'btn btn-primary col-md-12', method: :get %>
  </div>
</div>