<h2>New Batch</h2>
<%= @available_methods.inspect %>
<div class="columns">
  <div class="column is-10 is-offset-1">
      <div class="field is-horizontal">
        <%= form_for @batch do |f| %>
          <%= f.label :test_method_id, "Method", class: 'field-label' %>
          <%= f.select :test_method_id, @available_methods %>
          <%= f.submit class: 'button is-primary is-small' %>
        <% end %>
      </div>
  </div>
</div>



