<h2>Batch <%= @batch.id %></h2>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <h3>ID: <%= @batch.id %></h3>
    <h3>Test Method: <%= @batch.test_method.name %></h3>
    <table class="table is-striped">
      <tr>
        <th>Company</th>
        <th>Test ID</th>
        <th>Project ID</th>
        <th>Result</th>
      </tr>
      <% @batch.tests.each do |test| %>
        <tr>
          <td><%= test.sample.project.user.company %></td>
          <td><%= test.id %></td>
          <td><%= test.sample.project.id %></td>
          <td>
            <%= form_for test do |tt| %>
              <%= tt.number_field :result %> <%= test.test_method.unit %>
              <%= tt.hidden_field :id %>
              <%= button_to "submit", test_path, method: :patch %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>