<h2 class='is-size-2 has-text-centered'>Batch <%= @batch.id %> - <%= @batch.test_method.name.upcase %></h2>

<div class="columns">
  <div class="column is-10 is-offset-1">    
    <table class="table is-striped is-fullwidth">
      <tr>
        <th class="has-text-centered">Company</th>
        <th class="has-text-centered">Project ID</th>
        <th class="has-text-centered">Test ID</th>
        <th class="has-text-centered">Result</th>
      </tr>
      <% @batch.tests.each do |test| %>
        <tr>
          <td><%= test.sample.project.user.company %></td>
          <td class="has-text-centered"><%= test.sample.project.id %></td>
          <td class="has-text-centered"><%= test.id %></td>
          <td class="has-text-centered"><%= test.status %></td>
        </tr>
      <% end %>
    </table>
    <div class="field is-grouped">
      <div class="control">
        <%= button_to "Back", batches_path, method: :get, class: 'button is-primary' %>
      </div>
      <div class="control">
        <%= button_to "Edit Samples", edit_batch_path, method: :get, class: 'button is-info' %>
      </div>
      <div class="control">
        <%= button_to "Enter Results", batch_results_path(@batch.id), method: :get, class: 'button is-success' %>
      </div>
    </div>
  </div>
</div>