<nav class="navbar ">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <span class="level-left" style="color: #000;">
        <i class="fa fa-flask level-item" aria-hidden="true"></i><span class="is-size-4 level-item"> Appert</span>
      </span>
    <% end %>

    <!-- Log in and Sign Up Mobile Buttons -->
    <div class="navbar-item is-hidden-desktop">
      <%= button_to new_user_registration_path, method: :get, class: 'button is-primary' do%>
        <span class="icon">
          <i class="fa fa-user-circle-o"></i>
        </span>
        <span> Sign Up</span>
      <% end %>
    </div>

    <div class="navbar-item is-hidden-desktop">
      <%= button_to new_user_session_path, class: 'button' do %>
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
        <span>Log In</span>
      <% end %>
    </div>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user && current_user.admin? %>
          <%= link_to "Test Methods", test_methods_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Test Methods", test_methods_path, class: 'navbar-item' %>
            <%= link_to "New Test Method", new_test_method_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user && current_user.analyst? %>
          <%= link_to "Analyst Methods", test_methods_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Test Methods", test_methods_path, class: 'navbar-item' %>
            <%= link_to "New Test Method", new_test_method_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user %>
        <%= link_to "Projects", projects_path, class: 'navbar-item navbar-link' %>
        <div class="navbar-dropdown ">
          <%= link_to "All Projects", projects_path, class: 'navbar-item' %>
          <%= link_to "New Project", new_project_path, class: 'navbar-item'  %>
          <a class="navbar-item" href="#">
            Something else
          </a>
        </div>
        <% else %>
          <div class="navbar-item is-hoverable">
            <%= link_to "More Information", root_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link " href="http://bulma.io/blog/">
          Blog
        </a>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">03 Aug 2017</small>
                </p>
                <p>New feature: list of tags</p>
              </div>
            </a>
          
            <a class="navbar-item" href="/2017/08/01/bulma-bootstrap-comparison/">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">01 Aug 2017</small>
                </p>
                <p>Bulma / Bootstrap comparison</p>
              </div>
            </a>
          
            <a class="navbar-item" href="/2017/07/24/access-previous-bulma-versions/">
              <div class="navbar-content">
                <p>
                  <small class="has-text-info">24 Jul 2017</small>
                </p>
                <p>Access previous Bulma versions</p>
              </div>
            </a>
          
          <a class="navbar-item" href="http://bulma.io/blog/">
            More posts
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div class="navbar-content">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <strong>Stay up to date!</strong>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                      <span class="icon is-small">
                        <i class="fa fa-rss"></i>
                      </span>
                      <span>Subscribe</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          More
        </div>
        <div id="moreDropdown" class="navbar-dropdown ">
          <a class="navbar-item " href="http://bulma.io/extensions/">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Extensions</strong>
                    <br>
                    <small>Side projects to enhance Bulma</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-plug"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <% if current_user %>
        <p class="control navbar-item">
          <%= link_to "#{current_user.first_name}", edit_user_registration_path, class: 'is-hidden-desktop-only navbar-item'%>
        </p>
      <% end %>

      <div class="navbar-item">
        <div class="field is-grouped"> 
          <% if current_user %> 
            <p class="control">
              <%= button_to destroy_user_session_path, method: :delete, class: 'button' do %>
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log Out
                </span>
              <% end %>
            </p>
          <% else %>          
            <p class="control">
              <%= button_to new_user_session_path, class: 'button' do %>
                  <span class="icon">
                    <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log In
                </span>
              <% end %>
            </p>
            <p class="control">
              <%= button_to new_user_registration_path, method: :get, class: 'button is-primary' do%>
                <span class="icon">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                <span>Sign Up</span>
              <% end %>
            </p>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</nav>