<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <span style="color: #000;">
        <i class="fa fa-flask navbar-item" aria-hidden="true"></i><span class="navbar-item is-size-4"> Appert</span>
      </span>
    <% end %>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user && current_user.admin? %>
          <%= link_to "Test Methods", test_methods_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Test Methods", test_methods_path, class: 'navbar-item' %>
            <%= link_to "New Test Method", new_test_method_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user && current_user.analyst? %>
          <%= link_to "Analyst Methods", test_methods_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Test Methods", test_methods_path, class: 'navbar-item' %>
            <%= link_to "New Test Method", new_test_method_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <% if current_user %>
        <%= link_to "Projects", projects_path, class: 'navbar-item navbar-link' %>
        <div class="navbar-dropdown ">
          <%= link_to "All Projects", projects_path, class: 'navbar-item' %>
          <%= link_to "New Project", new_project_path, class: 'navbar-item'  %>
          <a class="navbar-item" href="#">
            Something else
          </a>
        </div>
        <% else %>
          <div class="navbar-item is-hoverable">
            <%= link_to "More Information", root_path, class: 'navbar-item' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="navbar-end">
      <% if current_user %>
        <p class="control navbar-item">
          <%= link_to "#{current_user.first_name}", edit_user_registration_path, class: 'is-hidden-desktop-only navbar-item'%>
        </p>
      <% end %>

      <div class="navbar-item">
        <div class="field is-grouped"> 
          <% if current_user %> 
            <p class="control">
              <%= button_to destroy_user_session_path, method: :delete, class: 'button' do %>
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log Out
                </span>
              <% end %>
            </p>
          <% else %>          
            <p class="control">
              <%= button_to new_user_session_path, method: :get, class: 'button' do %>
                  <span class="icon">
                    <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log In
                </span>
              <% end %>
            </p>
            <p class="control">
              <%= button_to new_user_registration_path, method: :get, class: 'button is-primary' do%>
                <span class="icon">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                <span>Sign Up</span>
              <% end %>
            </p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>