<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <span style="color: #000;">
        <i class="fa fa-flask navbar-item" aria-hidden="true"></i><span class="navbar-item is-size-4"> Appert</span>
      </span>
    <% end %>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <!-- ADMIN FUNCTIONS -->
      <% if current_user && current_user.admin? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Test Methods", test_methods_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Test Methods", test_methods_path, class: 'navbar-item' %>
            <%= link_to "New Test Method", new_test_method_path, class: 'navbar-item' %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to "Batches", batches_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Batches", batches_path, class: 'navbar-item' %>
            <%= link_to "New Batch", new_batch_path, class: 'navbar-item' %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Users", users_path, class: 'navbar-item' %>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Equipment", "#", class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "Pipets", pipets_path, class: 'navbar-item' %>
            <%= link_to "Other Equipment", "#", class: 'navbar-item' %>
          </div>
        </div>
        <!-- "Projects" tab under 'current_user' -->
      <% end %>
      <!-- ANALYST FUNCTIONS -->
      <% if current_user && current_user.analyst? %>
        <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to "Batches", batches_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown">
            <%= link_to "All Batches", batches_path, class: 'navbar-item' %>
            <%= link_to "New Batch", new_batch_path, class: 'navbar-item' %>
          </div>
        </div>
      <% end %>

      <!-- USER FUNCTIONS -->
      <% if current_user %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "Projects", projects_path, class: 'navbar-item navbar-link' %>
          <div class="navbar-dropdown ">
            <%= link_to "All Projects", projects_path, class: 'navbar-item' %>
            <%= link_to "New Project", new_project_path, class: 'navbar-item'  %>
          </div>
        </div>
      <% else %>
        <div class="navbar-item is-hoverable">
          <%= link_to "More Information", root_path, class: 'navbar-item' %>
        </div>
      <% end %>
    </div>


    <div class="navbar-end">
      <% if current_user %>
        <div class="navbar-item is-hoverable has-dropdown">
          <%= link_to "#{current_user.first_name}", user_path(current_user.id), class: 'navbar-item'%>
        </div>
      <% end %>

      <div class="navbar-item">
        <div class="field is-grouped"> 
          <% if current_user %> 
            <p class="control">
              <%= button_to destroy_user_session_path, method: :delete, class: 'button' do %>
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log Out
                </span>
              <% end %>
            </p>
          <% else %>          
            <p class="control">
              <%= button_to new_user_registration_path, method: :get, class: 'button is-primary' do%>
                <span class="icon">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                <span>Sign Up</span>
              <% end %>
            </p>
            <p class="control">
              <%= button_to new_user_session_path, method: :get, class: 'button' do %>
                  <span class="icon">
                    <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Log In
                </span>
              <% end %>
            </p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>